_format_version: "1.1"
ca_certificates:
- cert: |-
    -----BEGIN CERTIFICATE-----
    MIIDADCCAeigAwIBAgIJANivzOsKvH1VMA0GCSqGSIb3DQEBCwUAMDUxCzAJBgNV
    BAYTAlVTMRIwEAYDVQQIDAlNaW5uZXNvdGExEjAQBgNVBAcMCU1pbm5lc290YTAe
    Fw0yMjAzMDkyMTI5MDlaFw0yNDEyMjcyMTI5MDlaMDUxCzAJBgNVBAYTAlVTMRIw
    EAYDVQQIDAlNaW5uZXNvdGExEjAQBgNVBAcMCU1pbm5lc290YTCCASIwDQYJKoZI
    hvcNAQEBBQADggEPADCCAQoCggEBALu0t5Q3lwip6qlBcGzphvlUKQfuE2mkouB/
    CASpZH5TjiEgFrtiszIcsyAam057YA5fbVTNBA5mgFRwOLJV0NCoXtTIIguBYKIj
    fblboozYDn2dPc/xG1AZnH6UUQOC2QTYxfo1Qq1wsFxmpMcdZjBjfNy2v0rZYcH+
    EOaqwqAE+uPF1CYuEGKam7uDtuTlfd//91iRZ324v8tT/wwZD66huqU3hsRV2puc
    sQ49KgckoFQ2MSbqZHK80Mvr0igNkyhpIXIB12ktX7Sd71yuWAqusRBNaLDHBcm4
    01giw+nXUTt4SRF7QlEVAz2I3qGv9HrWgawASdvw3WkqbI4Tr6sCAwEAAaMTMBEw
    DwYDVR0TBAgwBgEB/wIBADANBgkqhkiG9w0BAQsFAAOCAQEANUFXA0ov8/r/bGZg
    zmuK8wpiKsa7LT/H2WOg8DkF0X2cnCYdttI4I/Uwmh1t5uhKWuazmc6GyBmLeEFK
    P2AnrAwbcqx9HkfZdCmue0IDG/6/hkvqnBh/9NXGeBYLq6zfbqiCpEJE5nBowTOI
    9yZg6PmVgrpzojtD7BwLGj2vYOVTD/q3DCfR9AB3dH82LVYgpzrZSJPUejLpE66O
    uut+UHI57iNSLGMYwIdJAUCKEcLFXmPJw4YfRbGtMgGoRdDkha4Y+iqdC5xZLQbR
    odnEfHi22L6C0nQvdjxe4TavGHntrmeJG7Ui1X2ZAZyEAH3sM2x9u8K7WGyAWxNx
    scZQLQ==
    -----END CERTIFICATE-----
  cert_digest: 26a4302a2f30af69709c16ef7f0498672ece608dfb019172eeecc09759882c88
  id: 8acea5a6-7201-4447-9cc5-ffca4b760073
  tags:
  - test-tag
certificates:
- cert: |-
    -----BEGIN CERTIFICATE-----
    MIICvjCCAaYCCQCZ6y3idn+UNDANBgkqhkiG9w0BAQsFADAhMQswCQYDVQQGEwJV
    UzESMBAGA1UECAwJTWlubmVzb3RhMB4XDTIyMDMwNzE5NTk0N1oXDTI0MTIwMTE5
    NTk0N1owITELMAkGA1UEBhMCVVMxEjAQBgNVBAgMCU1pbm5lc290YTCCASIwDQYJ
    KoZIhvcNAQEBBQADggEPADCCAQoCggEBAK14T7aoWp8QsjDSoNSB81PibxPtKT+3
    sQBeMQ2MO0NvFdU/fO1qH1PUNR9rpkoo9Yt0agyI5xPFib5hU+BtDi/iTYgTdnwo
    ptuBBMFAChrVy2mig0lCXAWerMWZlROObtpYiS26ImOQ5gezbr6L4TO9qzyHcMkx
    TI9taVzyJxbjNSz69XMkfLmHGnYRkZ5RWYVpX29vHQPDzPNY4unq+sJUfqp9BlZW
    7zHwxi48J4/Q/TsO4AQSiwUFiIfLdFMd22FioCAdzi56R2uWatOpLRXD+TbSHo0P
    9MSvqd5AAZSbTKWU5bZH6ZD1NhsGDP+IQtEmQUH8SeJ86BEv6BJ898kCAwEAATAN
    BgkqhkiG9w0BAQsFAAOCAQEAM0EXb6tb1ge6M+Ogl9SYsUkudNPs2o3y3dPnEnMo
    LZOSSJDRtae8ooVWyBX8YBZ2NNgg26lz8p3Gu/jDKQK8PSRsH2oKWE+GSxiOW8nM
    Msu/4Esxe3uqWAsx0CEwmFZ+Qe4M3m16Mc8jvgTOkcmry4p5pz9BILqh1sv73Sez
    iwxiIbC/8hxTmhswoyjnHPd0wIo1RZSkZMILFrp9qju8K7vRaI6k+n4EJueO1ESQ
    +eodGG+L71yw8brEh/YwPpjYG3aKozKBCFjUhpWyXBk3TQwfj3JLpkDGS1NVQUJx
    YEdBJm+KlxcpqM7YD4toMP4DBzj4NUR5mGh3INp1spf36A==
    -----END CERTIFICATE-----
  id: 47280951-1011-49a5-9a7f-21b825972cb8
  key: |-
    -----BEGIN RSA PRIVATE KEY-----
    MIIEpAIBAAKCAQEArXhPtqhanxCyMNKg1IHzU+JvE+0pP7exAF4xDYw7Q28V1T98
    7WofU9Q1H2umSij1i3RqDIjnE8WJvmFT4G0OL+JNiBN2fCim24EEwUAKGtXLaaKD
    SUJcBZ6sxZmVE45u2liJLboiY5DmB7NuvovhM72rPIdwyTFMj21pXPInFuM1LPr1
    cyR8uYcadhGRnlFZhWlfb28dA8PM81ji6er6wlR+qn0GVlbvMfDGLjwnj9D9Ow7g
    BBKLBQWIh8t0Ux3bYWKgIB3OLnpHa5Zq06ktFcP5NtIejQ/0xK+p3kABlJtMpZTl
    tkfpkPU2GwYM/4hC0SZBQfxJ4nzoES/oEnz3yQIDAQABAoIBAHFy5scx0ZqIA9G0
    XuS8XFP3GegxSbHXQ9ZWw8P1e2i9xMyjaeOnbPeZKGj1MVr88KGUsCqkemPO5Cfz
    ZTS4fffJDCW7fNj0iTOzbFWquTEVs6PRWgVWdfJi9OGCcSHKHCuGjaivPABb6mUM
    75eEyfLZz5yVg6jBKi3/Q1I7OF9Zgz3kA89UZ1HuljLy7/JjzewHOLCQpuR+6U2D
    VL8SpoKWEyVdVUOp0h370AxhWTDGynJzA6ntLbq9xZV9rr558PrtqWzb6GJpM8kl
    stMULJY1EJLEwP/+McxJxyKJgxVVLRHQoRnHwy1laKt9UDIVEhrVfyoxusu7o+7T
    W/iU4tECgYEA2tjrzDJyiUA0ZwO4gfT4+QM4r8e8tkSJu6RCLt5Y5wPvRO55jYLk
    ECB6YZEeWgJ/jQufE3lmKfPuH5LruQ+Xw1iDdBr+/DQcTsxqjUEo93WOfL/lsXWl
    V76IvJfKPvVFnySvDc/OVwE6tskHxbs66ddA/cdlHH1WLTLOwUVUxo0CgYEAyutL
    e3E6kaS74AlPOwcsYSeU/rZXExdTpPKsflXdJU1mCJBR197/5Xdb2YeyEv2yRhl7
    4yMbJAf/c384YNpEYOK4PTl51pTELS4mtg69rvkLXgpFPK1wopyXZeZiO0GBqLUY
    jANzIlNgOV+cgW755ogwFz1+1Q+I3W+5ygCelS0CgYBpd+Erp6RLQQYAH2rsNoNG
    fqbzD++CZ8V5CNBchguSSfMl5UfvSwVeQEi6fJWEC3AtKUygtgDmdwhrbwLrTPh2
    zFGNwvTf1r1NvHYdXSnBGIZy2Ih53ZixkMGVIhH2BX5oE+XJYjyu8Yi6TmfQg0sB
    JxvLMi0obb76SWIbAq64gQKBgQC4s2WYbd8W1LBh43dnzka6BDJdipFFglUTbgRO
    Vk+d9Y5rOxoT+RpJvtQu85HGMYAEyIt4murIaDM/6MvjdKkK2zNCHz/kbrMGQNzh
    mBdV3cBYD9cnvOMqUIiKKyK8twqTCovWXgl9dBDBCGNHeUEkck/7x3Db9HDqxhiB
    YwD13QKBgQDDU6FAEy/zI2lP7/wL6fGo4Jsv3loO7k2wL4Al7ZhIa6IrTueADS1H
    zVCZuyGrr7fkWFAXBCho2arvjeFe+herCnqh944oOjZCPkr9YygEOs5AtHisin3K
    /Da83bMf5NjPn5wXKCEULAjYjoRox8xVyq01dyiwfSuWa4Jo1H67GQ==
    -----END RSA PRIVATE KEY-----
  snis:
  - name: test-sni
    tags:
    - test-tag
  tags:
  - test-tag
consumers:
- custom_id: test-custom-id
  tags:
  - test-tag
  username: test-consumer
services:
- connect_timeout: 60000
  host: mockbin.org
  name: test-service
  path: /request
  port: 80
  protocol: http
  read_timeout: 60000
  retries: 5
  routes:
  - https_redirect_status_code: 426
    name: test-route
    path_handling: v0
    paths:
    - /echo
    preserve_host: false
    protocols:
    - http
    - https
    regex_priority: 0
    request_buffering: true
    response_buffering: true
    strip_path: true
    tags:
    - test-tag
  tags:
  - test-tag
  write_timeout: 60000
upstreams:
- algorithm: round-robin
  client_certificate:
    id: 47280951-1011-49a5-9a7f-21b825972cb8
  hash_fallback: none
  hash_on: none
  hash_on_cookie_path: /
  healthchecks:
    active:
      concurrency: 10
      healthy:
        http_statuses:
        - 200
        - 302
        interval: 0
        successes: 0
      http_path: /
      https_verify_certificate: true
      timeout: 1
      type: http
      unhealthy:
        http_failures: 0
        http_statuses:
        - 429
        - 404
        - 500
        - 501
        - 502
        - 503
        - 504
        - 505
        interval: 0
        tcp_failures: 0
        timeouts: 0
    passive:
      healthy:
        http_statuses:
        - 200
        - 201
        - 202
        - 203
        - 204
        - 205
        - 206
        - 207
        - 208
        - 226
        - 300
        - 301
        - 302
        - 303
        - 304
        - 305
        - 306
        - 307
        - 308
        successes: 0
      type: http
      unhealthy:
        http_failures: 0
        http_statuses:
        - 429
        - 500
        - 503
        tcp_failures: 0
        timeouts: 0
    threshold: 0
  name: test-upstream
  slots: 10000
  tags:
  - test-tag
